<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @media only screen and (max-width: 600px) {
        .logo {
            font-size: 20px;
        }
        .links {
            display: flex;
        }
      }
    </style>
  </head>
  <body class="bg-grey-100 font-sans antialiased">
    <!-- navbar-->
    <nav class="bg-green-600 p-4 text-white flex justify-between mb-12">
      <div>
        <a
          href="/"
          class="text-3xl logo font-bold transition-transform transform hover:scale-105"
        >
          YT Blog Generator
        </a>
      </div>
      <div class="links">
        <a href="logout" class="text-white hover:underline">Logout</a>
    </div>
    </nav>
    <!-- Main Content Conatiner-->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
      <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <div>
      <div>
        <!-- Blog Post Section-->
        <section>
          <h2 class="text-xl font-semibold mb-4">All Blog Post</h2>
          <div class="space-y-4">
            {% for article in blog_articles%}
            <a href="blog-details/{{article.id}}">
            <div class="border border-grey-300 p-4 rounded-lg">
              <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
              <p>
                {{article.generated_content|truncatechars:80}}
              </p>
            </div>
            </a>
            {% endfor %}
            <!-- Repeat-->
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<footer class="text-center mt-10">
  <p>&copy; Made By Abhishek</p>
</footer>
  </body>
</html>
